.SearchBar {
  text-align: center;
  height: 800px;
}

.typeTask {
  width: 700px;
  padding: 20px;
  background-color: rgb(103, 103, 104);
  border: 1px solid white;
  border-right: 1px solid rgb(103, 103, 104);
  color: goldenrod;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 5px 5px 5px rgba(219, 218, 218, 0.1);
}
input::placeholder {
  color: goldenrod;
  text-align: start;
  font-size: 20px;
  margin: 0 auto;
  padding-left: 0;
}
.submitTask {
  padding: 20px 50px;
  background-color: rgb(103, 103, 104);
  border: 1px solid white;
  color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: 1px solid rgb(103, 103, 104);
  background-color: rgba(218, 165, 32, 0.8);
  box-shadow: 5px 5px 5px rgba(218, 215, 215, 0.1);
}
