.viewTask {
  border: 1px solid white;
  border-radius: 50px;
  margin-top: 80px;
  margin-left: 270px;
  width: 900px;
  text-align: center;
}
.content {
  list-style-type: none;
  margin: 30px;
  text-align: start;
}
.eachList {
  margin-bottom: 20px;

  width: 700px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: goldenrod;
}
.innerText {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

button .buttonIcon {
  background-color: goldenrod;
  border: none;
  padding: 0;

  cursor: pointer;
  transition: background-color 0.3s ease;
}
.eachList:last-child {
  border-bottom: none;
}
button:hover {
  background-color: darkgoldenrod;
}

.innerText .check {
  accent-color: goldenrod;
  transform: scale(2.2);
  margin-left: 20px;
}
